<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio Acadêmico</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao meu portfólio!</h1><br>
        <h4>Aqui saberá um pouco sobre mim.</h4>
        <img src="../img/minha_formatura.jpeg" alt="Uma foto minha">   
    </header><br>
    <main>

        <section id="sobre">
            <h2>Apresentação</h2>
            <p>Breve apresentação sobre mim</p>
            <section>
                <details>
                    <summary>Clique aqui</summary><br>
                        <h3>Nome:</h3>
                        <p>
                        Davi Andrade Amancio dos Anjos
                        </p><br>

                        <h3>Idade:</h3>
                        <p>
                        18 anos
                        </p><br>

                        <h3>Formação:</h3> 
                        <p>
                            Estou cursando Análise e desenvolvimento de sistemas - FATEC-SJC<br>
                            Me formei no ensino médio e fiz o ensino integrado ao técnico de Automação industrial - ETEC-SJC
                        </p><br>

                        <h3>Objetivo:</h3>
                        <p>
                            O objetivo de estar fazendo o curso de Análise e Desenvolvimento de Sistemas é me especializar<br>
                            em algo que eu imagino que será de muito benefício para mim e para minha carreira no futuro.<br>
                            Além disso, é algo que eu sempre fui muito interessado e me dediquei muito para aprender.
                        </p><br>

                        <h3>Hobbies:</h3>
                        <p>
                            Alguns dos meus hobbies são por exemplo jogar futebol, aprender coisas novas,<br>
                            cozinhar, estar com minha família, ir para a igreja, interagir com as pessoas e etc.
                        </p>
                </details>
            </section>
        </section>

        <section id="curriculo">
            <h2>Currículo</h2>
            <p>Currículo básico</p>
                <section>
                    <details>
                        <summary>Clique aqui</summary><br>
                        <h3>Localização</h3><br>
                        <p>São José dos Campos - SP</p><br><br>
                
                        <h3>Contato</h3><br>
                        <p>Telefone: (12) 99638-4471</p>
                        <p>E-mail: amanciodavi2007@gmail.com</p><br><br>
                    
            
                    
                        <h3>Objetivo</h3><br>
                        <p>Ingressar no mercado de trabalho para adquirir experiências e desenvolver habilidades técnicas e profissionais.</p><br><br>
                    
            
                
                        <h3>Formação Acadêmica</h3><br>
                        <ul>
                            <li>Ensino Médio integrado ao Técnico em Automação Industrial - ETEC</li>
                            <li>Cursando o primeiro semestre de Análise e Desenvolvimento de Sistemas - FATEC</li>
                        </ul><br><br>
                    
            
                    
                        <h3>Experiências</h3><br>
                        <ul>
                            <li>Feiras Tecnológicas e desenvolvimento de projetos durante os três anos do Ensino Médio, desenvolvendo diversos projetos</li>
                            <li>Desenvolvimento de uma esteira com balança inteligente como Trabalho de Conclusão de Curso</li>
                            <li>Desenvolvimento em grupo de um API no primeiro semestre da faculdade</li>
                        </ul><br><br>
                
            
                
                        <h3>Habilidades</h3><br>
                        <ul>
                            <li>Proatividade</li>
                            <li>Trabalho em equipe</li>
                            <li>Liderança</li>
                            <li>Boa comunicação</li>
                            <li>Boa capacidade de resolução de problemas</li>
                            <li>Pontualidade</li>
                            <li>Empatia</li>
                            <li>Resiliência</li>
                        </ul><br><br>
                    
            
                    
                        <h3>Idiomas</h3><br>
                        <ul>
                            <li>Inglês Intermediário</li>
                            <li>Espanhol Básico</li>
                        </ul>
                    </details>
                </section>
        </section>

        <section id="projetos">
            <h2>Principais Projetos</h2>
            <p>Meus principais projetos escolares</p>
            <section>
                <details>
                    <summary>Clique aqui</summary><br>
                    <h3>Projetos da feira tecnólogica</h3>
                    <p>
                        Na minha escola, a ETEC de São José dos Campos, desde o primeiro ano, minha turma e eu desenvolvemos projetos para
                        as feiras tecnológicas.<br>Cada sala criava um projeto relacionado a alguma matéria ou ao curso técnico. <br><br>

                        <strong>No primeiro ano</strong>, desenvolvemos uma folha sustentável. Essa folha era feita de papel com sementes. <br>
                        No meu grupo, escolhemos sementes de girassol e criamos uma embalagem para sanduíche. <br>
                        Assim, o consumidor poderia jogar a embalagem em qualquer lugar com vegetação, contribuindo com o meio ambiente.
                    </p><br>

                    <p>
                        <strong>No segundo ano</strong>, meu grupo, junto com a sala, desenvolveu um equipamento para capturar pernilongos, 
                        moscas e outros insetos atraídos pela luz. <br>
                        O equipamento consistia em um cone, um ventilador de computador (para "sugar" os insetos), uma luz LED para atraí-los, <br>
                        um botão de liga/desliga e uma tomada para energizar tudo. Assim, os insetos eram sugados e não conseguiam mais sair. <br>
                    </p><br>

                    <p>
                        <strong>No terceiro ano</strong>, criamos um girassol eletrônico. <br>
                        Ele funcionava com dois sensores LDR em cada lado da flor e um motor para incliná-la. <br>
                        Os sensores LDR detectavam a luz, e o lado com maior intensidade de luz determinava a direção para onde o motor inclinaria a flor <br>
                        imitando o comportamento de um girassol real que segue o sol.
                    </p><br><br>
                
                    <h3>Meu TCC</h3>
                    <p>
                        Também no terceiro ano, desenvolvi com meu grupo o TCC (Trabalho de Conclusão de Curso). <br>Criamos uma esteira com balança inteligente,
                        desenvolvida ao longo de 2024. <br><br>

                        A minha responsabilidade foi cuidar da parte elétrica: conectar os fios da balança, dos motores e garantir que tudo estivesse corretamente ligado.<br>
                        Também desenvolvi a lógica de programação no Arduino (o componente que controla todo o projeto), <br>além de ajudar na parte escrita da documentação e no desenho técnico.
                    </p>

                    <p>Aqui está o arquivo do meu TCC:</p><br>
                    <a href="../img/Documentacao_TCC_atualizado.pdf.pdf" target="_blank">Meu TCC em PDF</a><br><br>
                    <br><h3>Desenvolvimento do API na FATEC-SJC</h3>
                    <p>
                        No primeiro semestre da faculdade eu e minha sala estamos fazendo um projeto. <br>
                        Esse projeto consiste em desenvolver uma página de consulta e envio de atestados. Utilizando o método de equipe Scrum,<br>
                        usando este método nós estamos realizando a terceira Sprint. <br>
                        Minha responsabilidade no projeto da API: <br><br>
                        Na <strong>primeira Sprint</strong> foi realizar três páginas utilizando HMTL básico. Onde constrí páginas semânticas para serem integradas uma a outra <br> <br>
                        Na <strong>segunda Sprint</strong> eu realizei mais páginas HTML básicas e deixei como se estivessem prontas porém, sem CSS nenhum. Tive pouca dificuldade pois estava acostumado a fazer isso na primeira Sprint. <br><br>
                        E na <strong>terceira Sprint</strong> estou realizando o CSS na página e deixando as padronizadas, também tentarei implementar BootStrap e responsevidade.
                    </p>
                    <p> Aqui está o link do projeto no GitHub:</p><br>
                    <a href="https://github.com/Y2K-Systems/Projeto-Integrador-2025-1" target="_blank">Meu API no GitHub</a>
                </details>
            </section>
        </section>

        <section id="habilidades">
            <h2>Habilidades</h2>
            <p>Minha principais habilidades</p>
            <section>
                <details>
                    <summary>Clique aqui</summary><br>
                    <h3>Habilidades técnicas:</h3><br>
                    <p>
                        <ul>
                            <li>HTML/CSS</li>
                            <li>Python</li>
                            <li>JavaScript</li>
                            <li>Flask</li>
                            <li>Microsoft Office 365</li>
                            <li>Codesys</li>
                            <li>Factory I/O</li>
                            <li>CLP</li>
                            <li>Inglês Técnico</li>
                        </ul>
                    </p><br><br>
                        <h3>Soft Skills:</h3><br>
                    <p>
                        <ul>
                            <li>Proatividade</li>
                            <li>Trabalho em equipe</li>
                            <li>Boa comunicação</li>
                            <li>Boa capacidade de resolução de problemas</li>
                            <li>Pontualidade</li>
                            <li>Empatia</li>
                            <li>Resiliência</li>
                            <li>Liderança</li>
                        </ul>
                    </p>
                </details>
            </section>
        </section>

        <section id="certificacoes">
            <h2>Certificações</h2>
            <p>Aqui está um certificado de um Curso básico de Git</p>
            <section>
                <details>
                    <summary>Clique aqui</summary><br>
                    <img src="../img/Certificado do Git.jpeg" alt="Certificado de um curso de Git">
                </details>
            </section>
        </section>

        <section id="contato">
            <h2>Contatos</h2>
            <section>
                <nav>
                    <a href="https://github.com/aandrade007" target="_blank">GitHub</a>
                    <a href="https://www.linkedin.com/in/davi-andrade-a3b22a337/" target="_blank">LinkedIn</a>
                    <a href="https://wa.me/5512996384471" target="_blank">WhatsApp</a>
                    <a href="mailto:amanciodavi2007@gmail.com?subject=Contato%20via%20portfólio&body=Olá%20Davi," target="_blank">E-mail</a>
                </nav>
            </section>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 - Meu Portfólio Acadêmico</p>
    </footer>
</body>
</html>