<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portifolio</title>
    <link rel="icon" type="image/png" href="foto_minha.jpeg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <nav class="menu-fixo">
        <img src="my_picture.jpeg" alt="Foto pessoal">   
        <a href="#apresentação">Apresentação</a>
        <a href="#curriculo">Currículo</a>
        <a href="#projetos">Projetos</a>
        <a href="#habilidades">Habilidades</a>
        <a href="#certificações">Certificações</a>
    </nav>
    <header>
        <div>
            <h1>Bem-vindo ao meu portfólio acadêmico</h1><br>
            <h4>Nesta página, você encontrará informações relevantes sobre minha trajetória.</h4>
        </div>
        <img src="foto_minha.jpeg" alt="Foto pessoal">
    </header><br>
    <main>

        <section id="apresentação">
            <h2>Apresentação <br><i class="material-icons">person</i></h2>
            <p>Breve introdução pessoal</p>
            <section class="section-baixa">
                <details>
                        <summary>
                            <i class="fa fa-mouse-pointer"></i>
                            Clique aqui
                        </summary><br>
                        <h3>Nome:</h3>
                        <p>
                        Davi Andrade Amancio dos Anjos
                        </p><br>

                        <h3>Idade:</h3>
                        <p>
                        18 anos
                        </p><br>

                        <h3>Formação:</h3> 
                        <p>
                            Atualmente, sou estudante do curso superior de Tecnologia em Análise e Desenvolvimento de Sistemas na FATEC São José dos Campos.<br>
                            Concluí o Ensino Médio com formação técnica integrada em Automação Industrial pela ETEC São José dos Campos.
                        </p><br>

                        <h3>Objetivo:</h3>
                        <p>
                            Meu principal objetivo ao cursar Análise e Desenvolvimento de Sistemas é adquirir conhecimento técnico especializado que proporcione crescimento pessoal e profissional.<br>
                            Tenho grande interesse na área de tecnologia e sempre busquei me aprofundar nesse campo, demonstrando empenho e dedicação contínuos.
                        </p><br>

                        <h3>Hobbies:</h3>
                        <p>
                            Entre meus principais hobbies estão: praticar esportes (especialmente futebol), cozinhar, buscar novos aprendizados, conviver com minha família, frequentar a igreja e interagir socialmente.
                        </p>
                </details>
            </section>
        </section>

        <section id="curriculo">
            <h2>Currículo <br><i class='fas fa-address-card'></i></h2>
            <p>Resumo curricular</p>
                <section class="section-baixa">
                    <details>
                        <summary>
                            <i class="fa fa-mouse-pointer"></i>
                            Clique aqui
                        </summary><br>
                        <h3>Localização</h3><br>
                        <p>São José dos Campos - SP</p><br><br>
                
                        <h3>Contato</h3><br>
                        <p>Telefone: (12) 99638-4471</p>
                        <p>E-mail: amanciodavi2007@gmail.com</p><br><br>
                    
                        <h3>Objetivo</h3><br>
                        <p>Iniciar minha trajetória profissional com o intuito de adquirir experiência prática e desenvolver competências técnicas e interpessoais.</p><br><br>
                    
                        <h3>Formação Acadêmica</h3><br>
                        <ul>
                            <li>Ensino Médio com formação técnica em Automação Industrial – ETEC-SJC</li>
                            <li>Cursando o 1º semestre de Análise e Desenvolvimento de Sistemas – FATEC-SJC</li>
                        </ul><br><br>
                    
                        <h3>Experiências</h3><br>
                        <ul>
                            <li>Participação em feiras tecnológicas e desenvolvimento de projetos técnicos durante os três anos do Ensino Médio</li>
                            <li>Elaboração de uma esteira com balança inteligente como Trabalho de Conclusão de Curso (TCC)</li>
                            <li>Colaboração no desenvolvimento de uma API no primeiro semestre da graduação, utilizando metodologias ágeis (Scrum)</li>
                        </ul><br><br>
                
                        <h3>Habilidades</h3><br>
                        <ul>
                            <li>Proatividade</li>
                            <li>Trabalho em equipe</li>
                            <li>Liderança</li>
                            <li>Boa comunicação</li>
                            <li>Capacidade analítica e de resolução de problemas</li>
                            <li>Pontualidade</li>
                            <li>Empatia</li>
                            <li>Resiliência</li>
                            <br>
                            <li>HTML/CSS</li>
                            <li>Python</li>
                            <li>JavaScript</li>
                            <li>Git</li>
                            <li>Flask</li>
                            <li>Microsoft Office 365</li>
                            <li>Codesys</li>
                            <li>Factory I/O</li>
                            <li>CLP</li>
                            <li>Inglês técnico</li>
                        </ul><br><br>
                    
                        <h3>Idiomas</h3><br>
                        <ul>
                            <li>Inglês – Intermediário</li>
                            <li>Espanhol – Básico</li>
                        </ul><br>
                        <nav><a href="Currículo_Davi.pdf" target="_blank">Acessar curríulo em PDF</a></nav>
                    </details>
                </section>
        </section>

        <section id="projetos">
            <h2>Principais Projetos <br><i class='fas fa-book'></i></h2>
            <p>Projetos de maior relevância acadêmica</p>
            <section class="section-baixa">
                <details>
                        <summary>
                            <i class="fa fa-mouse-pointer"></i>
                            Clique aqui
                        </summary><br>
                    <h3>Projetos desenvolvidos para feiras tecnológicas</h3>
                    <p>
                        Durante o período do curso técnico na ETEC São José dos Campos, participei anualmente de feiras tecnológicas com foco em soluções inovadoras integradas ao conteúdo programático.<br><br>

                        <strong>1º ano:</strong> Desenvolvimento de um papel sustentável com sementes de girassol incorporadas, destinado à fabricação de embalagens biodegradáveis para alimentos. O objetivo era promover a sustentabilidade, permitindo que a embalagem fosse descartada diretamente no solo, favorecendo o meio ambiente.<br><br>

                        <strong>2º ano:</strong> Criação de um dispositivo para captura de insetos voadores. O equipamento utilizava um ventilador de computador para sucção, luz LED para atração, e um sistema de alimentação elétrica com interruptor. Após atraídos, os insetos eram sugados e não conseguiam sair.<br><br>

                        <strong>3º ano:</strong> Desenvolvimento de um girassol eletrônico, com sensores LDR e motor de inclinação. O sistema detectava a direção da maior intensidade luminosa e inclinava a flor nessa direção, simulando o comportamento natural do girassol.
                    </p><br>

                    <h3>Trabalho de Conclusão de Curso (TCC)</h3>
                    <p>
                        No terceiro ano do curso técnico, elaborei juntamente com meu grupo uma esteira automatizada com balança inteligente, concluída em 2024. <br><br>
                        Fui responsável pela parte elétrica do projeto, realizando a conexão dos componentes (balança, motores e sensores).<br>
                        Além disso, desenvolvi a lógica de programação utilizando Arduino e colaborei com a redação da documentação técnica e o desenho de esquemas do projeto.
                    </p><br>

                    <p>Documentação completa do TCC:</p>
                    <nav><a href="Documentacao_TCC_atualizado.pdf.pdf" target="_blank">Acessar TCC em PDF</a></nav><br><br>

                    <h3>Projeto de API – FATEC-SJC</h3>
                    <p>
                        No primeiro semestre da graduação, estou participando do desenvolvimento de uma aplicação web para consulta e envio de atestados, empregando a metodologia Scrum.<br><br>

                        <strong>Sprint 1:</strong> Criação de páginas básicas com HTML semântico, compondo a estrutura inicial da aplicação.<br><br>
                        <strong>Sprint 2:</strong> Expansão das páginas estruturais, mantendo o foco na organização do conteúdo. Ainda sem aplicação de estilos.<br><br>
                        <strong>Sprint 3:</strong> Implementação de estilização com CSS e padronização visual da interface. Em fase de estudo para aplicação de Bootstrap e melhorias na responsividade do layout. <br>
                        Fui responsável por elabaorar páginas Html e estiliza-las com Css conforme o padrão definido.
                    </p><br>

                    <p>Repositório do projeto:</p>
                    <nav><a href="https://github.com/Y2K-Systems/Projeto-Integrador-2025-1" target="_blank">Visualizar no GitHub</a></nav>
                </details>
            </section>
        </section>

        <section id="habilidades">
            <h2>Habilidades <br><i class='fas fa-graduation-cap'></i></h2>
            <p>Principais competências técnicas e interpessoais</p>
            <section class="section-baixa">
                <details>
                        <summary>
                            <i class="fa fa-mouse-pointer"></i>
                            Clique aqui
                        </summary><br>
                    <h3>Hard Skills:</h3><br>
                    <p>
                        <ul>
                            <li>HTML/CSS</li></i>
                            <li>Python</li>
                            <li>JavaScript</li>
                            <li>Flask</li>
                            <li>Git</li>
                            <li>Microsoft Office 365</li>
                            <li>Codesys</li>
                            <li>Factory I/O</li>
                            <li>CLP</li>
                            <li>Inglês técnico</li>
                        </ul>
                    </p><br><br>
                        <h3>Soft Skills:</h3><br>
                    <p>
                        <ul>
                            <li>Proatividade</li>
                            <li>Trabalho colaborativo</li>
                            <li>Comunicação eficaz</li>
                            <li>Raciocínio lógico</li>
                            <li>resolução de problemas</li>
                            <li>Comprometimento com prazos</li>
                            <li>Empatia</li>
                            <li>Resiliência</li>
                            <li>Liderança</li>
                        </ul>
                    </p>
                </details>
            </section>
        </section>

        <section id="certificações">
            <h2>Certificações <br><i class='fas fa-medal'></i></h2>
            <p>Certificação de curso introdutório em Git</p>
            <section class="section-baixa">
                <details>
                        <summary>
                            <i class="fa fa-mouse-pointer"></i>
                            Clique aqui
                        </summary><br>
                    <img src="Certificado do Git.jpeg" alt="Certificado de curso de Git">
                </details>
            </section>
        </section>
    </main>

    <footer>
        <div class="footer-section">
            <a href="https://github.com/aandrade007" target="_blank"><i class='fab fa-github'></i></a>
            <a href="mailto:amanciodavi2007@gmail.com?subject=Contato%20via%20portfólio&body=Olá%20Davi," target="_blank"><i class="fa fa-envelope"></i></a>
            <a href="https://wa.me/5512996384471" target="_blank"><i class="fa fa-phone"></i></a>
        </div>
        
    </div>
    
    <div class="footer-section">
        <a>&copy; 2025 - Meu Portfólio Acadêmico</a>
    </div>
    
    <div class="footer-section">
        <a href="https://www.instagram.com/d.andrade_04?igsh=MTNxOW1nYmc3amZoMA%3D%3D&utm_source=qr" target="_blank"><i class='fab fa-instagram'></i></a>
        <a href="https://wa.me/5512996384471" target="_blank"><i class='fab fa-whatsapp'></i></a>
        <a href="https://www.linkedin.com/in/davi-andrade-a3b22a337/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    </footer>
</body>
</html>
