    * {
        box-sizing: border-box;
    }

    html {
        user-select: none;
        height: 100%;
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-color: #382a3a;
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23FC1F40" stroke-width="0.5" stroke-linejoin="round" d="M18 14.88 8.16 3.15c-.26-.31-.76-.12-.76.28v15.31c0 .36.42.56.7.33l3.1-2.6 1.55 4.25c.08.22.33.34.55.26l1.61-.59a.43.43 0 0 0 .26-.55l-1.55-4.25h4.05c.36 0 .56-.42.33-.7Z"></path></svg>'), auto;
        box-sizing: border-box;
        overflow-x: hidden;
        flex-direction: column;
        display: flex;
        font-family: "Urbanist", sans-serif;
        font-weight: 400;
    }
    
    body::-webkit-scrollbar {
        width: 4px;
    }

    body::-webkit-scrollbar-track {
        background-color: #1e1c2b;
    }

    body::-webkit-scrollbar-thumb{
        background-color: #b401cf;
    }

    main > section {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .menu-hamburger {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10;
        position: absolute;
        top: 18px;
        left: 20px;
    }

    .menu-hamburger span {
        display: block;
        width: 28px;
        height: 3px;
        margin: 4px 0;
        background: #b401cf;
        border-radius: 2px;
        transition: 0.3s;
        transform-origin: center;
    }

    .menu-hamburger.open span:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .menu-hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-hamburger.open span:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }


    #particles-js {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 12%;
        background-color: rgba(17, 15, 30, 0.6);
        padding: 0.8%;
        display: flex;
        justify-content: center;
        backdrop-filter: blur(3px);
        transition: backdrop-filter, 0.6s ease;
        z-index: 3;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }

    .naveg {
        margin: 0;
        text-decoration: none;
        font-size: 20px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-weight: lighter;
        position: relative;
        margin: 0 0.5rem;
        transition: color 0.4s ease, transform 0.5s ease;
        color: #e9d2ed;
        justify-content: space-around;
    }
    .naveg img{
        width: 50px; 
        height: 50px;
        border-radius: 50%;
        object-fit: cover; 
        margin: 0;
        transition: box-shadow 0.5s ease, transform 0.5s ease;
    }

    .naveg img:hover{
        box-shadow: 0px 0px 10px #f8bcfdac;
    }

    .naveg:hover {
        color: #b401cf;
        text-shadow: 0px 0px 10px #fbccff63;
        transform: translateY(-2px);
    }

    .naveg::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 1.2px;
        border-radius: 1px;
        background-color: #b401cf;
        transition: width 0.1s ease, left 0.1s ease;
        transform: translateX(-50%);
    }

    .linha {
        border: none;
        height: 1.5px;
        width: 80%;
        background-color: #b401cf;
        box-shadow: 0 0 5px #b401cf, 0 0 20px #b401cf;
        animation: pulsar 2s infinite ease-in-out;
    }

    #inicio {
        height: 100vh;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: initial;
        gap: initial;
        z-index: 2;
        position: relative;
        padding-top: 100px;
    }

    .inicio_euSou {
        margin: 11.5% 0 0 5%;
        display: block;
        text-align: left;
    }

    h1 {
        font-size: 350%;
        font-family: "Sora", sans-serif;
        font-weight: 300;
        color: #620171;
        position: relative;
        animation: piscar 4s infinite;
        text-shadow:
            0 0 1px #b401cf,
            0 0 3px #b401cf,
            0 0 8px #e748ff;
        margin: 0;
    }

    h2 {
        font-size: 250%;
        font-family: "Urbanist", sans-serif;
        color: aliceblue;
        margin: 0;
    }

    h3 {
        font-size: 2rem;
        font-family: "Urbanist", sans-serif;
        color: aliceblue;
        margin: 0;
    }

    .inicio_botao {
        position: relative;
        border: 1px solid #e748ff;
        background-color: rgba(0, 0, 0, 0.468);
        border-radius: 10px;
        padding: 2% 6%;
        margin: 3% 43%;
        text-decoration: none;
        color: aliceblue;
        font-size: 20px;
        font-family: cursive;
        display: flex;
        align-items: center;
        width: 210px;
        height: 70px;
        justify-content: space-evenly;
        transition: 0.3s ease;
        z-index: 3;
    }

    .inicio_botao:hover {
        background-color: #e748ff;
        box-shadow: 0 0 25px 1px #e748ff;
        backdrop-filter: blur(2px);  
    }

    .inicio_foto {
        width: 20%;
        height: 70%;
        margin: 5% 15% 0 0;
        border-radius: 15px;
        box-shadow: 0 0 15px #e748ff;
        transition: 0.3s ease;
        z-index: 3;
        object-fit: cover; 
    }

    .inicio_foto:hover {
        transform: scale(1.01);
        box-shadow: 0 0 20px 5px #ee86fe;
    }

    #sobreMim {
        height: auto;
        margin: 1% 10%;
        max-width: none;
        padding-top: 90px;
        text-align: center;
        display: block;
    }

    .sobreMim_texto {
        grid-column: 3;
        color: aliceblue;
        font-size: 25px;
        font-family: "Urbanist", sans-serif;
        padding: -3%;
    }

    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 50px;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 3px;
        background-color: #e748ff50;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
        margin-bottom: 1rem;
        z-index: 1;
    }

    .timeline-item {
        padding: 10px 40px;
        position: relative;
        width: 50%;
        z-index: 2;
    }

    .timeline-content {
        background-color: #1e1e3f;
        padding: 20px 30px;
        border-radius: 6px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        border: 1px solid #e748ff30;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .timeline-content:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 25px #e748ff48;
    }

    .timeline-item.right {
        left: 50%;
    }

    .timeline-item.left {
        left: 0;
    }

    .card-titulo {
        color: #e748ff;
        margin-bottom: 5px;
    }

    .card-data {
        color: #cfcfcf;
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    .card-tecnologias i {
        font-size: 2rem;
        margin-right: 10px;
        color: #00bcd4;
    }

    .card-descricao{
        color: #f4f4f4;
        font-size: 16px;
    }

    .link-github {
        display: inline-block;
        background-color: #e973fca5;
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 15px;
    }

    .link-github:hover {
        transform: scale(1.07);
        transition: transform 0.4s ease
    }

    #Tecnologias {
        height: auto;
        margin: 1% 6%;
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .tecs_titulo {
        margin: 70px;
    }

    .tecs_grupo {
        height: 50%;
        margin-bottom: 5%;
        font-family: "Orbitron", sans-serif;
        color: aliceblue;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .tecs_item {
        text-align: center;
        z-index: 2;
        transition: transform 0.3s ease, filter 0.3s ease;
        width: 90px;
    }

    .tecs_item > i {
        font-size: 70px;
        color: #e9d2ed;
        padding: 10px;
    }

    .tecs_item > p {
        opacity: 0;
        transform: translateY(10%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .tecs_item:hover,
    .tecs_item:hover > p {
        opacity: 1;
        filter: drop-shadow(0 0 1.5px rgba(240, 248, 255, 0.423));
        transform: translateY(0);
    }
    
    footer {
        width: 100%;
        height: 100%;
        margin: 5% 0% 0%;
        max-width: 100%;
        background-color: rgba(60, 55, 60, 0.044);
        color: #e9d2ed;
        display: flex;
        padding: 0.8%;
        flex-wrap: wrap;
        padding: 2rem;
        text-align: center;
        justify-content: space-around;
        transition: backdrop-filter, 0.6s ease;
        flex-shrink: 0;
    }
    
    .footer-section a {
        font-size: 35px;
        padding: 1rem;
        margin: 0 0.5rem;
        transition: color 0.4s ease, transform 0.5s ease;
        color: #e9d2ed;
        
    }

    .footer-section a:hover {
        color: #e748ff;
        text-shadow: 0px 0px 7px #f4a9fb2e;
    }

    .carousel-indicators {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        height: 20px;
    }

    .dot {
        height: 10px;
        width: 10px;
        margin: 0 5px;
        background-color: #666;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        transition: background-color 0.6s ease, opacity 0.6s ease;
    }

    .dot.active {
        background-color: #e748ff;
    }

    .carousel-display {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px; 
        overflow: hidden;
        opacity: 1; 
        transition: opacity 0.5s ease;
    }

    .carousel-display img {
        width: 200px;
        height: 350px;
        object-fit: cover;
        border-radius: 12px;
        box-shadow: 0 0 10px #000;
        transition: all 0.5s ease-in-out;
        margin: 0 5px;
    }

    .carousel-display img.center {
        width: 450px;
        opacity: 1;
        transform: scale(1.05);
        box-shadow: 0 0 20px #e748ff76;
    }

    .carousel-display img.side {
        width: 120px;
        opacity: 0.35;
        filter: blur(1px);
        transform: scale(0.9);
        box-shadow: none;
    }

    .carousel-display.transitioning {
        opacity: 0;
        transition: opacity 0.1s ease;
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .btn {
        background:#e748ff35;
        border: none;
        color: white;
        cursor: pointer;
        transition: 0.4s;
        width: 40px; 
        height: 40px;
        border-radius: 50%;
    }

    .btn:hover {
        background: #f08fffa8;
    }

    .mode-toggle {
        position: absolute;
        top: 25px; 
        right: 50px; 
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: #e748ff;
        z-index: 1000;
        transition: color 0.3s;
    }

    .mode-toggle .light-icon { display: none; }
    .mode-toggle .dark-icon { display: inline-block; }

    body.light-mode {
        background-color: #fcf5fe;
        color: #333;
        --scrollbar-track-color: #e0e0e0;
        --scrollbar-thumb-color: #b401cf;
    }

    body.light-mode::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color, #e0e0e0);
    }

    body.light-mode::-webkit-scrollbar-thumb{
        background-color: var(--scrollbar-thumb-color, #b401cf);
    }

    body.light-mode header {
        background-color: rgba(255, 255, 255, 0.666);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
    }

    body.light-mode .naveg {
        color: #444;
    }

    body.light-mode .naveg:hover {
        color: #b401cf;
        text-shadow: none;
    }

    body.light-mode .naveg::after {
        background-color: #b401cf;
    }

    body.light-mode .naveg img:hover{
        box-shadow: 0px 0px 10px #b401cf40;
    }

    body.light-mode .mode-toggle {
        color: #333;
    }

    body.light-mode .mode-toggle .light-icon { display: inline-block; }
    body.light-mode .mode-toggle .dark-icon { display: none; }

    body.light-mode .sobreMim_texto {
            grid-column: 3;
            color: #000000;
            font-size: 25px;
            font-family: "Urbanist", sans-serif;
            padding: -3%;
        }

    body.light-mode .tecs_item > i {
            font-size: 70px;
            color: #550162;
            padding: 10px;
        }

    body.light-mode .tecs_item > p {
            opacity: 0;
            color: #000000;
            transform: translateY(10%);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

    body.light-mode .tecs_item:hover, body.light-mode .tecs_item:hover > p {
            opacity: 1;
            filter: drop-shadow(0 0 1.5px aliceblue);
            transform: translateY(0);
        }

    body.light-mode h1 {
        color: #620171;
        animation: none;
        text-shadow:
            0 0 1px #3c0146,
            0 0 3px #480053,
            0 0 8px #620171;
    }
    body.light-mode h2, 
    body.light-mode h3 {
        color: #333;
    }

    body.light-mode .linha {
        background-color: #b401cf;
        box-shadow: none;
        animation: none;
    }

    body.light-mode .timeline-content {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    }

    body.light-mode .timeline-content:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    body.light-mode .card-descricao {
        color: #000000;
    }

    body.light-mode .card-data {
        color: #666666;
    }

    body.light-mode .link-github {
        background-color: #b401cfd1;
        color: white;
    }

    body.light-mode .link-github:hover {
        background-color: #8f00a6;
    }

    body.light-mode .carousel-display img.center {
        box-shadow: 0 0 15px #b401cf40;
    }
    body.light-mode .btn {
        background: #ca03e949;
        color: #b401cf;
    }
    body.light-mode .btn:hover {
        background: #b401cfa1;
    }
    body.light-mode .dot.active {
        background-color: #b401cf;
    }

    body.light-mode footer {
        background-color: #ffffff19;
        color: #333;
    }
    body.light-mode .footer-section a {
        color: #333;
    }
    body.light-mode .footer-section a:hover {
        color: #b401cf;
        text-shadow: none;
    }

    @media screen and (max-width: 1200px) {
        nav {
            width: 65%;
        }
        .inicio_foto {
            width: 25%;
            height: 65%;
        }
    }

    @media screen and (max-width: 900px) {

        header {
            height: 60px;
            justify-content: flex-end;
        }

        .menu-hamburger {
            display: flex;
        }

        nav {
            position: fixed;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background-color: #110f1e;
            transition: left 0.3s ease;
            padding-top: 80px;
            z-index: 5;
        }

        nav.nav-open {
            left: 0;
        }
        .naveg {
            font-size: 1.5rem;
            margin: 15px 0;
        }
        .naveg img {
            display: none;
        }

        .mode-toggle {
            right: 20px;
            top: 15px;
        }

        #inicio {
            flex-direction: column;
            height: auto;
            padding-top: 100px;
            align-items: center;
            text-align: center;
        }
        .inicio_euSou {
            margin: 5% 5% 5% 5%;
            text-align: center;
        }
        h1 {
            font-size: 250%;
        }
        h2 {
            font-size: 180%;
        }
        h3 {
            font-size: 1.3rem;
        }
        .inicio_foto {
            width: 50%;
            height: auto;
            margin: 5% 0;
        }

        .sobreMim_texto {
            font-size: 18px;
        }
        
        .inicio_botao {
            margin: 20px auto;
        }

        .footer-section {
            flex-basis: 100%;
            min-width: 100%;
            padding: 0.8rem 0;
        }

        .footer-section:nth-child(1),
        .footer-section:nth-child(3) {
            order: 2;
        }
        
        .footer-section:nth-child(2) {
            order: 1;
        }
        
        .footer-section a {
            font-size: 30px;
            margin: 0 10px;
        }
    }

    @media screen and (max-width: 600px) {

        .inicio_euSou {
            margin-top: 50px;
        }
        h1 {
            font-size: 200%;
        }
        h2 {
            font-size: 150%;
        }
        .inicio_foto {
            width: 40%;
            box-shadow: 0 0 15px #e748ff5a;
        }

        .inicio_foto:hover {
        transform: scale(1.01);
        box-shadow: 0 0 10px 5px #ee86fe5c;
        }

        .carousel-display {
            width: 100%;
        }
        .carousel-display img.center {
            width: 300px;
            height: 200px;
            transform: scale(1.0);
        }

        .carousel-display img.side,
        .carousel-display div {
            display: none;
        }

        .btn {
            width: 30px;
            height: 30px;
            font-size: 1rem;
        }

        .timeline::after {
            left: 20px;
        }
        .timeline-item {
            width: 100%;
            padding-left: 50px;
            padding-right: 15px;
        }
        .timeline-item.right {
            left: 0%;
        }

        .timeline-item.left .timeline-content::after,
        .timeline-item.right .timeline-content::after {
            border-width: 8px 8px 8px 0;
            border-color: transparent #1e1e3f transparent transparent;
        }

        .tecs_grupo {
            gap: 2%;
        }
        .tecs_item {
            width: 80px;
        }
        .tecs_item > i {
            font-size: 50px;
        }

        footer {
        padding: 1.5rem 0.5rem;
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex-basis: 100%;
        min-width: 100%;
        padding: 0.8rem 0;
    }

    .footer-section:nth-child(1),
    .footer-section:nth-child(3) {
        order: 2;
    }
    
    .footer-section:nth-child(2) {
        order: 1;
    }
    
    .footer-section a {
        font-size: 30px;
        margin: 0 10px;
    }
}
    

    @media screen and (max-width: 768px) {

        .timeline::after {
            left: 31px;
        }

        .timeline-item {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }

        .timeline-item.right {
            left: 0%;
        }

        .timeline-item.left .timeline-content::after,
        .timeline-item.right .timeline-content::after {
            border: medium solid transparent;
            left: 55px;
            border-width: 10px 10px 10px 0;
            border-color: transparent #1e1e3f transparent transparent;
        }
    }