* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Faz com que o padding e border não aumentem o tamanho total dos elementos */
}

body {
    background-color: #dec2fc; 
    color: rgba(53, 1, 61, 0.747); 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 400; /*Deixa tudo em "negrito*/
    max-width: 100%;
}

header {
    padding: 2rem;
    background-color: #7c3ec0;
    text-align: center;
    color: rgb(255 252 0);
}

main { 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;  
    margin: 1rem 3rem 2rem 3rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;            /* Cantos arredondados */
    box-shadow: 0 4px 10px rgb(0, 0, 0); /* Sombra suave */
    max-width: 100%;              /* Largura máxima para centralizar */
    padding: 2rem;
}


h3 {
    color: rgb(150 0 175 / 93%);
}

h2 {
    color: rgba(77, 0, 89, 0.747);
}

p {
    color: rgb(39, 38, 0);
}

ul, li {
    color: rgb(39, 38, 0);
}

details {
    padding: 0.5rem;
}

img {
    width: 50%;
    border-radius: 10px;
}

a {
    display: inline-block;
    padding: 0.6rem;
    background-color: #7c3ec0;
    color: #e7d1ff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #39086d;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a {
padding: 0.6rem;
background-color: #7c3ec0;
color: #e7d1ff;
border: none;
border-radius: 5px;
text-decoration: none;
font-size: 1rem;
transition: background-color 0.3s ease;
}

nav a:hover {
background-color: #39086d;
cursor: pointer;
}


footer p{
    background-color: #7c3ec0;
    padding: 2rem;
    text-align: center;
    color: rgb(255 252 0);
    font-size: 1.3rem;
}
